.cell{
  width: 93%;
  height: 93%;
  border-radius: 20%;
  box-sizing: border-box;
  margin: 0px;
 
}
.cell--outer{
  
  margin: 0px;
  max-height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.cell--full{
  background-color: brown;
  margin: 0px;
  border: 2px solid;
}

.row{
  display: flex;
  box-sizing: border-box;
  margin: 0px;
}

.glass--inner {
  border: 5px solid;
  border-top: none;
  position: relative;
}

.glass--outer {
  margin: 20px;
  display: flex;
}

.infoBadge {
  text-align: center;
  border-radius: 8px;
  border: 2px solid;
  margin: 5px;
  width: 100%;
  font-size: larger;
  background-color:#42aaf5;
  color: white;
  border-color: black;
  padding: 2px;
}

.message{
  position: absolute;
     width: 100%;
    top: 45%;
    text-align: center;
      
    color: red;
    font-size: xx-large;
}