.cell{
  width: 93%;
  height: 93%;
  border-radius: 20%;
  box-sizing: border-box;
  margin: 0px;
 
}
.cell--outer{
  
  margin: 0px;
  max-height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.cell--full{
  background-color: brown;
  margin: 0px;
  border: 2px solid;
}

.row{
  display: flex;
  box-sizing: border-box;
  margin: 0px;
}

.glass--inner {
  border: 5px solid;
  border-top: none;
  position: relative;
  margin: 20px;
}

.glass--outer {
  display: flex;  
  
}

.infoBadge {
  text-align: center;
  border-radius: 8px;
  border: 2px solid;
  margin: 0px 0px 5px 0px;
  width: 100%;
  font-size: 4vmin;
  background-color:#42aaf5;
  color: white;
  border-color: black;
  padding: 2px;
}

.message{
  position: absolute;
     width: 100%;
    top: 45%;
    text-align: center;
      
    color: red;
    font-size: xx-large;
}

.glass--preview{
  display: flex;
 
}

.glass--preview--bottom{
  justify-content: space-around;
  margin: 0px 20px 0px 20px;
}

.glass--preview--right {
  justify-content:  flex-start;
  margin-top: 20px;
}